<section class="plan-list-sec">

  <section class="section-header">
    <h2>One step closer</h2>
    <p>Browse our catalogue for your dream house plan and turn it into reality</p>
  </section>

  <section class="featured-design">
    <h2>Featured Design Ideas</h2>

    <div class="featured-design-items">
      <app-plan-item-card></app-plan-item-card>
      <app-plan-item-card></app-plan-item-card>
      <app-plan-item-card></app-plan-item-card>
    </div>
  </section>

  <section class="designs-cont">
    <div class="featured-design-items">
      <app-plan-item-card routerLink="/plans/1"></app-plan-item-card>
      <app-plan-item-card></app-plan-item-card>
      <app-plan-item-card></app-plan-item-card>
      <app-plan-item-card></app-plan-item-card>
      <app-plan-item-card></app-plan-item-card>
      <app-plan-item-card></app-plan-item-card>
    </div>
  </section>

  <div class="paginator-cont">
    <app-paginator></app-paginator>
  </div>

</section>
