<section class="footer-sec">
  <!--<section class="footer-call-to-action">
    <h4>Questions about design and construction ?</h4>
    <p>We want to help you design your dreams as best as we can. If you cant find the answer you are looking for here, get in touch with our licensed architects</p>
  <button class="btn-custom btn-custom-white">Talk to an architect for free <i class="fa-solid fa-phone"></i></button>
  </section>-->

  <section class="bottom-footer">

    <div class="footer-about">
      <div>
        <h6>About Us</h6>
        <img src="/assets/icons/domysuma-logo-white.svg" alt="Domysuma logo">
        <p>Start with our house plans and build your home in stages saving up to 40% managing your site
      </div>
      <div>
        <h6>Our Services</h6>
        <ul>
          <li>Architectural Design</li>
          <li>Structural Design</li>
          <li>Project Management</li>
          <li>Project Costing</li>
          <li>Interior Design</li>
          <li>Construction</li>
          <li>Design and Build</li>
        </ul>
      </div>
      <div>
        <h6>Company</h6>
        <ul>
          <li>Home</li>
          <li>Blog</li>
          <li>FAQ</li>
          <li>Terms and Conditions</li>
          <li>Privacy Policy</li>
          <li>Contact Us</li>
          <!--<li>Login</li>
          <li>Sign Up</li>-->
        </ul>

      </div>
      <div>
        <h6>Reviews</h6>
        <div class="reviews-google">
          <p>4.7 <i class="fa-solid fa-star"></i></p>
          <p>Google overall Rating</p>
          <p>100 Reviews</p>
        </div>
        <div class="reviews-trustpilot">
          <p><i class="fa-solid fa-star"></i> Trustpilot</p>
          <div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p>TrustScore <b>4.5</b> | <b>75</b> reviews</p>

        </div>
      </div>

    </div>
    <div></div>

    <div class="footer-socials">
    <div class="social-icons">

    <a href="https://facebook.com/domysuma" target="_blank" rel="noopener">
      <i class="fa-brands fa-facebook-f"></i>
    </a>

    <a href="https://instagram.com/domysuma?igsh=Znk0dHkybzVrYjF2" target="_blank" rel="noopener">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="https://youtube.com/@domysumaarchitectsltd2452?si=d3yZxf71eGZBPVDW" target="_blank" rel="noopener">
      <i class="fa-brands fa-youtube"></i>
    </a>

    <a href="https://linkedin.com/company/domysuma/" target="_blank" rel="noopener">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>

    <a href="https://pin.it/4rkT5UHyx" target="_blank" rel="noopener">
      <i class="fa-brands fa-pinterest-p"></i>
    </a>

    </div>
      <p>Domysuma Architects {{copyrightYear}}. All rights reserved</p>
    </div>
    

  </section>
</section>
