<section class="about-page">

  <!-- HISTORY -->
  <section class="about-section history">
    <div class="about-text">
      <h2>History</h2>
      <h3>A brief history of how it begun</h3>
      <p>
        Domysuma Building and Road Works Construction Company LTD was founded in September 2017 and later incorporated in September 2019 as a Private Limited Company in Kitale, Kenya. They saw a gap between the construction industry and the youth employment rate, this ignited the passion to bridge the gap through Domysuma.
      </p>
      <p>
        The company’s first construction project was the building of a government institution. The company later diversified into constructing privately owned entities, commercial buildings, road works, and electrical works.
      </p>
      <p>
        Kenya has recorded a huge number of cases in the collapse of buildings in recent years, therefore, the company felt the need to come up with strategies to be involved in reducing such incidences. We launched Domysuma Architects LTD to help with the design of buildings and offer construction consultancy services so as to help clients avoid such cases through providing economical and sustainable designs. The company is doing this through Architectural and Structural Designs that are based on on-site construction experience.
      </p>
    </div>
  </section>

  <!-- WHAT WE DO -->
  <section class="about-section what-we-do">
    <div class="about-image">
      <img src="assets/about/works.jpg" alt="What we do">
    </div>
    <div class="about-text">
      <h2>What We Do</h2>
      <h3>Here's why we wake up everyday</h3>
      <p>
        Domysuma Building and Road Works Construction Company LTD is a construction company, with its Headquarters in Kitale, Kenya. We are mainly focused on offering construction services including General Construction, Building Works, Road Works, Water Works, Electrical Works, Mechanical Works, Architectural Designs, Structural Designs, Construction Consultancy, Bill of Quantities, and Project Management.
      </p>
      <p>
        Domysuma has diversified in various construction areas so as to offer the best services to clients to ensure that they achieve their dreams. We have a vast amount of experience in construction making us the best choice for any type of construction project. Our approach entails getting to be in sync with projects right from the inception which is the design stage.
      </p>
      <p>
        Moreover, we have on-site experience which gives us the upper hand in the construction industry. We have in-depth understanding of changes in site conditions based on previously designed projects and therefore offer our clients the best solutions when it comes to variations on site.
      </p>
      <a routerLink="/projects" class="btn-custom btn-custom-primary">
        Check out our projects
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </section>

  <!-- SOLUTIONS -->
  <section class="about-section solutions">
    <div class="about-image">
      <img src="assets/about/our_vision.jpg" alt="Our solutions">
    </div>
    
    <div class="about-text">
      <h2>Solutions</h2>
      <h3>Some of our main services</h3>
      
      <div class="service-card">
        <div class="service-icon">
          <i class="fas fa-pencil-ruler"></i>
        </div>
        <div class="service-content">
          <h4>Design and Build</h4>
          <p>
            This approach is the best because it brings the highest value to the client since the project team is truly in sync with each other right from the true inception of the project - IMAGINE and DESIGN stage. This is followed by BUILD which is the execution of the project. The design team and the construction team work hand in hand on the entire project since it is the same team from the beginning.
          </p>
        </div>
      </div>

      <div class="service-card">
        <div class="service-icon">
          <i class="fas fa-briefcase"></i>
        </div>
        <div class="service-content">
          <h4>Project Management</h4>
          <p>
            This is where we have an already designed project yet to be implemented. Our construction team takes over the execution of the project after it is designed by another party. Our experts are able to interpret any designs done and implement it as per the design specifications. We offer Labor-only contracts in this form of approach. This is where the client purchases materials and we execute based on project designs.
          </p>
        </div>
      </div>

      <a routerLink="/services" class="btn-custom btn-custom-primary-outline">
        Check out our services
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
    
  </section>

  <!-- QUALIFICATIONS -->
  <section class="about-section qualifications">
    <div class="about-text">
      <h2>Qualifications</h2>
      <h3>Why you can trust us to get it done.</h3>
      <div class="qualifications-grid">
        <div class="qualification-card">
          <div class="qualification-icon">
            <i class="fas fa-building"></i>
          </div>
          <div class="qualification-content">
            <h4>National Construction Authority</h4>
            <p>
              We are a fully registered and licenced construction company in Kenya with the National Construction Authority under category NCA 4 for Building Works, Road Works, Water Works (licence no. 49062), Electrical Works and Mechanical Works (licence no. 56779) categories.
            </p>
          </div>
        </div>

        <div class="qualification-card">
          <div class="qualification-icon">
            <i class="fas fa-bolt"></i>
          </div>
          <div class="qualification-content">
            <h4>Energy and Petroleum Regulatory Authority</h4>
            <p>
              Moreover, we are registered and licenced Electrical Contractors with Energy and Petroleum Regulatory Authority (EPRA) with registration no. EPRA/EC/02585.
            </p>
          </div>
        </div>

        <div class="qualification-card">
          <div class="qualification-icon">
            <i class="fas fa-graduation-cap"></i>
          </div>
          <div class="qualification-content">
            <h4>Board of Registration of Architects and Quantity Surveyors</h4>
            <p>
              Our partner company, Domysuma Architects LTD, is registered and licenced as an architectural firm with Board of Registration of Architects and Quantity Surveyors (BORAQS) under registration no. 423A.
            </p>
          </div>
        </div>
      </div>
      <p class="verification-note">
        Verification of the above information can be verified online via the relevant licensing bodies’ web portals.
      </p>
    </div>
  </section>

  <section>
    <app-testimonials></app-testimonials>
  </section>

  <section class="about-map-sec">
    <h2>Our Branch Locations Across Kenya</h2>

    <div id="map" class="map-container"></div>
  </section>


</section>
